@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.spin {
  animation: spin 2s linear infinite;
  transform-origin: 31px 31px; /* Half of the SVG's width and height */
}

.sidebar-item-active {
  position: relative;
}

.sidebar-item-active:after,
.sidebar-item-active:before {
  content: '';
  width: 240px;
  height: 28px;
  position: absolute;
  z-index: 10;
}

.sidebar-item-active:after {
  border-top: 1px solid rgba(255, 255, 255, 0.06); /* inner border */
  border-right: 1px solid rgba(255, 255, 255, 0.02);
  box-shadow: 0 -14px 0 0 #071622; /* outer border */
  border-radius: 0 1.25rem 0 0;
  right: -1px;
  top: 56px;
}

.sidebar-item-active:before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06); /* inner border */
  border-right: 1px solid rgba(255, 255, 255, 0.02);
  box-shadow: 0 14px 0 0 #071622; /* outer border */
  border-radius: 0 0 1.25rem 0;
  right: -2px;
  top: -27px;
}

/* Styles for active state of first item in sidebar (e.g Dashboard, removing outer rounding at the top */
.sidebar-item-active.sidebar-item-active-first:before {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: none;
  border-right: none;
  box-shadow: none;
  border-radius: 0;
  right: -1px;
  top: -1px;
}
